/****** General ******/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/* color icone */

.black {
    color: black;
}

/* size icone */

.size {
    font-size: 13px;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 79px;
}

header img {
    width: 61px;
    height: 19px;
}

.main-nav a {
    margin-left: 70px;
    font-size: 1em;
}

.main-nav a:hover {
    border-top: 3px var(--main-color) solid;
    color: var(--main-color);
    padding-top: 35px;
}

/* titre de page */
.page-title h1 {
    font-size: 1.375em;
}

.page-title p {
    font-size: 1em;
}

/* barre de recherche */
form {
    display: flex;
    width: 100%;
    height: 49px;
}

form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    border-radius: 15px 0px 0px 15px;
    background-color: var(--main-bg-color);
}

form input {
    font-size: 1.125em;
    border: transparent;
    border-top: 2px var(--main-bg-color) solid;
    border-bottom: 2px var(--main-bg-color) solid;
}

form .loupe-button {
    display: none;
}

form .rechercher-button {
    background-color: var(--main-color);
    color: white;
    font-weight: bolder;
    border: var(--main-color);
    width: 132px;
    padding: 15px 16px 15px 16px;
    border-radius: 0px 15px 15px 0px;
    font-size: 1.125em;
}

input::placeholder {
    color: black;
    font-weight: bolder;
    text-align: center;
}

/* filtres */
.filters {
    display: flex;
    padding-top: 20px;
    width: 100%;
}

.filters h2 {
    font-size: 1.125em;
    padding-right: 20px;
}

.filters button {
    background-color: white;
    border: 2px var(--main-bg-color) solid;
    border-radius: 25px;
    font-size: 1.063em;
    font-weight: bolder;
    padding: 10px 15px 10px 15px;
    margin-right: 20px;
}

.icone-button {
    padding-right: 10px;
    height: 22px;
}

.filters button:hover {
    background-color: var(--filter-bg-color);
}

/* information barre */
.info-bar {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.info-bar i {
    width: 24px;
    height: 24px;
    border: 2px var(--main-bg-color) solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-bar p {
    padding-left: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 1.375em;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1em;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/** Hebergements And Populaires **/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/* Hebergements */
.hebergements {
    width: 65%;
}

.hebergements-cards a {
    width: 30%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
}

.hebergements-title h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    font-size: 1.375em;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    padding-top: 5px;
}

.hebergements-bottom p {
    font-size: 1.125em;
    padding-top: 10px;
    font-weight: bolder;
}


/* Populaires */
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* activites à marseille */
.activites-marseille {
    padding-top: 30px;
    padding-bottom: 30px;
}

.activites-marseille h2 {
    font-size: 1.375em;
    padding-bottom: 20px;
}

.activites-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
}

.activites {
    margin-right: 10px;
    width: 297px;
    height: 439px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
}

.activites img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites h3 {
    font-size: 1em;
    padding-left: 20px;
}

/* footer */
footer {
    display: flex;
    justify-content: space-around;
    align-items: first baseline;
    flex-direction: row;
    width: 100%;
    background-color: var(--main-bg-color);
}

footer li {
    list-style-type: none;
    font-size: 1em;
    margin-bottom: 10px;
}

footer ul {
    padding: 0px;
}

footer h2 {
    font-size: 1.125em;
}

.hebergement-list,
.a-propos-list,
.assistance-list {
    width: 30%;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /* filtres */
    .filters {
        flex-direction: column;
        width: 100%;
    }

    .filters button {
        flex-direction: row;
        margin-right: 10px;
    }

    /* hebergements-and-populaires */
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards .card-title {
        font-size: 0.875em;
    }

    .hebergements-cards .card-subtitle {
        font-size: 0.813em;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /* activites */
    .activites-card {
        justify-content: space-between;
    }

    .activites {
        width: 193px;
        height: 270px;
    }

    .activites img {
        width: 100%;
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        margin: 0%;
    }

    .main-container {
        width: 100%;
        padding: 0%;
    }

    /* header */
    header {
        flex-direction: column;
        align-content: center;
        height: 2%;
        width: 100%;
        margin-top: 30px;
    }

    .main-nav a {
        display: flex;
        justify-content: center;
        margin: 0%;
        height: 36px;
        width: 100%;
    }

    .main-nav {
        display: flex;
        flex-direction: row;
        border-bottom: 3px var(--main-bg-color) solid;
        width: 100%;
    }

    .main-nav a:hover {
        border-top: none;
        padding-top: 0%;
        border-bottom: 3px var(--main-color) solid;
    }

    /* titre page */
    .page-title h1,
    p {
        padding-left: 30px;
    }

    /* barre de recherche */
    form {
        padding-left: 30px;
        width: 90%;
    }

    form .rechercher-button {
        display: none;
    }

    form .loupe-button {
        display: inline-block;
        background-color: var(--main-color);
        border: var(--main-color);
        width: 49px;
        border-radius: 15px 15px 15px 15px;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    form .loupe-button i {
        color: white;
        font-size: 1.063em;
    }

    /* filtres */
    .filters {
        width: 100%;
    }

    .filters h2 {
        padding-left: 30px;
    }

    .filters button {
        width: 45%;
        margin: 2%;
    }

    /* info barre */
    .info-bar {
        padding-left: 30px;
    }

    /** hebergement and populaires **/
    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 0%;
        background-color: initial;
    }

    .hebergements-title h2,
    .populaires-title h2,
    .hebergements-bottom p {
        padding-left: 30px;
    }

    .populaires-title i {
        padding-right: 30px;
    }

    .hebergements-cards .card-subtitle,
    .populaires-cards .card-subtitle {
        padding: 0%;
    }

    /* populaires */
    .populaires-cards a {
        width: 90%;
        height: 146px;
    }

    .populaires {
        order: 1;
        height: 569px;
        margin: 0%;
    }

    .populaires-cards {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        background-color: var(--main-bg-color);
        height: 520px;
    }

    .populaires-title {
        padding-top: 30px;
        background-color: var(--main-bg-color);
    }

    .populaires-cards .card {
        margin-top: 0%;
    }

    /* hebergement */
    .hebergements {
        order: 2;
        height: 1550px;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .hebergements-cards a {
        width: 90%;
        height: 207px;
    }

    .hebergements-title {
        padding-top: 30px;
    }

    /* Activites marseille */
    .activites-marseille h2 {
        padding-left: 30px;
    }

    .activites-card {
        align-items: center;
        flex-direction: column;
        gap: 18px;
    }

    .activites {
        width: 90%;
        height: 200px;
    }

    .activites img {
        width: 100%;
        height: 141px;
    }

    /* footer */
    footer {
        flex-direction: column;
    }

    .hebergement-list,
    .a-propos-list,
    .assistance-list {
        width: 90%;
        padding-left: 10%;
    }
}