/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/* color icone */

.black {
    color: black;
}

/* size icone */

.size {
    font-size: 13px;
}

/**** header ****/

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    max-width: 1340px;
    height: 79px;
}

header img {
    width: 61.09px;
    height: 19px;
}

header a {
    margin-left: 70px;
    font-size: 16px;
}

nav a:hover {
    color: #0065FC;
    border-top: 3px #0065FC solid;
    padding-top: 35px;
}

/**** Fin header ****/
/**** Premier bloc ****/

/* titre de page */

.page-title h1 {
    font-size: 22px;
}

.page-title p {
    font-size: 16px;
}

/* barre de recherche */

form {
    display: flex;
    width: 377px;
    height: 49px;
    border: #F2F2F2;
}

form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
}

form input {
    font-size: 18px;
    border-color: #F2F2F2;
    border-style: solid;
}

form button {
    background-color: #0065FC;
    color: white;
    font-weight: bolder;
    border: #0065FC;
    width: 132px;
    height: 49px;
    padding: 15px 16px 15px 16px;
    border-radius: 0px 15px 15px 0px;
    font-size: 18px;
}

input::placeholder {
    color: black;
    font-weight: bolder;
    text-align: center;
}

/* filtres */

.filtre {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    width: 758px;
    height: 50px;
}

.filtre h2 {
    font-size: 18px;
}

.filtre button {
    background-color: white;
    border: 2px #F2F2F2 solid;
    border-radius: 25px;
    font-size: 17px;
    font-weight: bolder;
    padding: 10px 15px 10px 15px;
}

.icone-button {
    padding-right: 15px;
    width: 22px;
    height: 22px;
}

.filtre button:hover {
    background-color: #DEEBFF;
}

/* information barre */

.info-barre {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.info-barre i {
    width: 24px;
    height: 24px;
    border: 2px #F2F2F2 solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-barre p {
    padding-left: 10px;
} 

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards a {
    width: 30%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
}

.hebergement-title h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    font-size: 22px;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
    padding-top: 5px;
}

.hebergements-bottom h2 {
    font-size: 18px;
    padding-top: 10px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/**** activites à marseille ****/

.activite-marseille {
    padding-top: 30px;
    padding-bottom: 30px;
}

.activite-marseille h1 {
    font-size: 22px;
    padding-bottom: 20px;
}

.activite-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-between;
}

.activite {
    width: 297px;
    height: 439px;
    border-radius: 20px;
    border: 2px #F2F2F2 solid;
}

.activite img {
    width: 297px;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activite h2 {
    font-size: 16px;
    padding-left: 20px;
}

/***** Fin premier bloc *****/

/**** footer ****/

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 1340px;
    height: 163px;
    background-color: #F2F2F2;
}

footer li {
    list-style-type: none;
    font-size: 16px;
    margin-bottom: 10px;
}

footer ul {
    padding: 0px;
}

footer h1 {
    font-size: 18px;
}

.hebergement,
.a-propos,
.assistance {
    width: 446.67px;
    height: 163px;
    padding-left: 20px;
    gap: 15px;
}

/* fin footer */

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}